/* Universal styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
 }
 
 main{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
 }

 body{
     background-color: aliceblue;
 }
 
 /* Header styling */
 header{
     padding: 30px;
     font-family: Arial, Helvetica, sans-serif;
     background-color: black;
     color: #e50914;
 }
 
 header h1{
     display: inline-flex;
     font-size: 48px;
     color: white;
     background: #e50914;
     margin-left: -2%;
     padding: 20px 20px 20px 50px;
     text-shadow: 0 0 20px black;
 }
 
 header nav{
     padding-top: 15px;
     margin-right: 20px;
     float: right;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
 }
 
 header nav ul {
     list-style-type: none;
 }
 
 header nav ul li {
     display: inline-block;
     margin-left: 25px;
 }

 /* Header hover behavior */
 header nav ul li :hover{
    background-color: white;
    color: black;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #e50914; 
 }

 a {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 5px;
}

p {
    font-size: 16px;
    line-height: 1;
}

/* Hero image styling */
.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-image: url("../images/myHeroAlt.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left;
    position: relative;
    text-align: center;
    color: black;
}

/* Styling for over hero image text */
.bottom-left{
    position:absolute;
    bottom: 20px;
    right: 40px;
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, red, transparent);
    margin-right: -2.4%;
    padding: 20px 50px 20px 20px;
    text-shadow: 0 0 19px white;
}

/* Float for headshot image */
.float-left{
    float: left;
    margin-right: 25px;
}

/* Flex box for work section */
.flex{
    display: flex;
    flex-wrap:wrap;
    height: 850px;
    width: 75%;
}

.workimg1{
    flex: 2 1 auto;
    padding: 10px;
    flex-basis: 100%;
}

.workimgs{
    flex: 1 1 0;
    padding: 10px;
    flex-basis: 50%;
}

/* About me section styling */
.mysectionsaboutme{
    margin-bottom: 20px;
    padding: 50px;
    height: 400px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffffff;
}

.mysectionsaboutme img{
    max-height: 250px;
    border-radius: 20px;
    border-style: solid;
    border-color: #ffffff;
    box-shadow: 10px 10px 10px rgb(104, 22, 22);
}

/* Work section styling */
.mysectionswork{
    margin-bottom: 20px;
    padding: 50px;
    height: 850px;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffffff;
}

.mysectionswork img{
    max-height: 200px;
    max-width: 400px;
    border: 2px white solid;
}

/* Contact section styling */
.mysectionscontact{
    margin-bottom: 20px;
    padding: 50px;
    height: 200px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;
    color: #ffffff;
    text-align: center;
}

.contactList {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 28px;
}

.contactList :hover{
    background-color: white;
    color: black;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #e50914;
    
 }

/* Styling for aside element that houses section headers that float to the right */
.gridname{
    margin-left: 0;
    padding: 0px 10px 10px 10px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}

.gridname h2{
    margin-bottom: 10px;
    padding-right: 20px;
    font-size: 48pt;
    font-weight:200;
    text-align: right;
}

/* Lines in between section header and section horizontally */
.lineam{
    border-right: 6px solid #e50914;
    height: 400px;
    margin-bottom: 20px;
}

.linewrk{
    border-right: 6px solid #e50914;
    height: 850px;
    margin-bottom: 20px;
}

.linecon{
    border-right: 6px solid #e50914;
    height: 200px;
}

 /* Back to top button styling */
 .back{
    float: right;
}

.back:hover{
    background-color: black;
    border-radius: 100%;
}

/* Footer styling */
footer {
    padding: 30px;
    clear: both;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

footer img {
    max-height: 100px;
}

/* Media Inquiry */
@media  screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    header nav {
        flex-direction: column;
    }
}